<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu sieci Web. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fc460dd2-874a-4b49-8623-a12548b9c1e7/resourceGroups/CarReservation2020/providers/Microsoft.Web/sites/CarReservation2020</ResourceId>
    <ResourceGroup>CarReservation2020</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://carreservation2020.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>carreservation2020.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarReservation2020</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CarReservation2020</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bazy2020.database.windows.net,1433;Initial Catalog=Rezerwacja;User ID=admin123@bazy2020.database.windows.net;Password=Qwertyuiop!" Name="Data Source=tcp:bazy2020.database.windows.net,1433;Initial Catalog=Rezerwacja;User Id=admin123@bazy2020.database.windows.net;Password=Qwertyuiop!;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Reserv.Models.ApplicationDbContext, Reserv" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ReservContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:bazy2020.database.windows.net,1433;Initial Catalog=Rezerwacja;User ID=admin123@bazy2020.database.windows.net;Password=Qwertyuiop!" Name="Data Source=tcp:bazy2020.database.windows.net,1433;Initial Catalog=Rezerwacja;User Id=admin123@bazy2020.database.windows.net;Password=Qwertyuiop!;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Reserv.DAL.ReservContext, Reserv" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ReservContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bazy2020.database.windows.net,1433;Initial Catalog=Rezerwacja;User Id=admin123@bazy2020.database.windows.net;Password=Qwertyuiop!;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bazy2020.database.windows.net,1433;Initial Catalog=Rezerwacja;User Id=admin123@bazy2020.database.windows.net;Password=Qwertyuiop!;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>